<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <style>
body {
    background-color: white;
    width: 1024px;
    margin: 0 auto 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
    </style>
  </head>
  <body>
    <div style="text-align: center;">
        <a href="{{ ref . "/"}}">
            <h1>Herr Felix</h1>
        </a> 
        <p>I don't speak German BTW (French is totally my thing though)</p>
    </div>
    <hr>
    <div>
    {{ block "main" . }}

    {{ end }}
    </div>
    <hr>
    <div style="text-align: center;">
        <p style="color:transparent;">
            Steal my content, there are no copyrights here.
            <br/>
            If you don't like my lack of CSS, just use a text-based browser.
        </p>
    </div>
  </body>
</html>
